@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-obsidian: #0a0a0a;
  --color-cognac: #8b4513;
  --color-brass: #c2a878;
  --color-canvas: #f9f9f7;
  --color-stone: #e5e5e0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-canvas);
  color: var(--color-obsidian);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}